<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxm.trade.dao.mapper.TradeUserMoneyLogMapper">
  <resultMap id="BaseResultMap" type="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <id column="money_log_type" jdbcType="CHAR" property="moneyLogType" />
    <result column="user_money" jdbcType="DECIMAL" property="userMoney" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, order_id, money_log_type, user_money, create_time
  </sql>
  <select id="selectByExample" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_user_money_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_user_money_log
    where user_id = #{userId,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and money_log_type = #{moneyLogType,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogKey">
    delete from trade_user_money_log
    where user_id = #{userId,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and money_log_type = #{moneyLogType,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogExample">
    delete from trade_user_money_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    insert into trade_user_money_log (user_id, order_id, money_log_type, 
      user_money, create_time)
    values (#{userId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{moneyLogType,jdbcType=CHAR}, 
      #{userMoney,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    insert into trade_user_money_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="moneyLogType != null">
        money_log_type,
      </if>
      <if test="userMoney != null">
        user_money,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="moneyLogType != null">
        #{moneyLogType,jdbcType=CHAR},
      </if>
      <if test="userMoney != null">
        #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogExample" resultType="java.lang.Integer">
    select count(*) from trade_user_money_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade_user_money_log
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyLogType != null">
        money_log_type = #{record.moneyLogType,jdbcType=CHAR},
      </if>
      <if test="record.userMoney != null">
        user_money = #{record.userMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade_user_money_log
    set user_id = #{record.userId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      money_log_type = #{record.moneyLogType,jdbcType=CHAR},
      user_money = #{record.userMoney,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    update trade_user_money_log
    <set>
      <if test="userMoney != null">
        user_money = #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and money_log_type = #{moneyLogType,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    update trade_user_money_log
    set user_money = #{userMoney,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and money_log_type = #{moneyLogType,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <id column="money_log_type" jdbcType="CHAR" property="moneyLogType" />
    <result column="user_money" jdbcType="DECIMAL" property="userMoney" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, order_id, money_log_type, user_money, create_time
  </sql>
  <select id="selectByExample" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_user_money_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_user_money_log
    where user_id = #{userId,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and money_log_type = #{moneyLogType,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogKey">
    delete from trade_user_money_log
    where user_id = #{userId,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and money_log_type = #{moneyLogType,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogExample">
    delete from trade_user_money_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    insert into trade_user_money_log (user_id, order_id, money_log_type, 
      user_money, create_time)
    values (#{userId,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{moneyLogType,jdbcType=CHAR}, 
      #{userMoney,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    insert into trade_user_money_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="moneyLogType != null">
        money_log_type,
      </if>
      <if test="userMoney != null">
        user_money,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="moneyLogType != null">
        #{moneyLogType,jdbcType=CHAR},
      </if>
      <if test="userMoney != null">
        #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLogExample" resultType="java.lang.Integer">
    select count(*) from trade_user_money_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade_user_money_log
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyLogType != null">
        money_log_type = #{record.moneyLogType,jdbcType=CHAR},
      </if>
      <if test="record.userMoney != null">
        user_money = #{record.userMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade_user_money_log
    set user_id = #{record.userId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      money_log_type = #{record.moneyLogType,jdbcType=CHAR},
      user_money = #{record.userMoney,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    update trade_user_money_log
    <set>
      <if test="userMoney != null">
        user_money = #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and money_log_type = #{moneyLogType,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxm.trade.dao.pojo.TradeUserMoneyLog">
    update trade_user_money_log
    set user_money = #{userMoney,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=VARCHAR}
      and money_log_type = #{moneyLogType,jdbcType=CHAR}
  </update>
</mapper>